#root{
	/*padding은 fxml파일에서도 되고, css파일에서 적용해도 된다. */
	-fx-padding: 10;
	
}

#welcome-text{
	/*글자크기 35, Arial Balck채 , 굵게, 선형 그라디언트 아래방향 파란색에서
	 * 흰색으로 변함
	 */
	 
	 -fx-font-size: 34;
	 -fx-font-family: "Arial Black";
	 -fx-font-weight: bold;
	 -fx-text-fill: linear-gradient(to bottom, blue, white);
}